<%- include ('partials/header') %>
<div>
    <a href="/">Back</a>
</div>
<div>
    <%# Form xóa bài nhật ký%>
    <%# Nhớ thêm method="POST" vào form%>
    <form method="POST">
        Do you want to delete user?: <strong><%= dataUsers[i].id %></strong> ?
        <button type="submit" class="btn btn-primary">Delete</button>
    </form>
</div>
<%- include ('partials/footer') %>